.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: 50vh;
  width: 80%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}